Source: liqcontrolpanel
Section: user/multimedia
Priority: extra
Maintainer: Gary Birkett <liquid@gmail.com>
Build-Depends: debhelper (>= 5) , libliqbase-dev (>= 0.3.35)
Standards-Version: 3.7.2

Package: liqcontrolpanel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} , libliqbase1 (>= 0.3.35)
Description: short description
 longer description