[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=liqflow
Exec=/usr/bin/liqflow-run.sh
Type=Application
StartupWMClass=liqflow
X-Osso-Service=org.maemo.liqflow
X-Osso-Type=application/x-executable
StartupNotify=false