[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=doorbell
Exec=/usr/bin/doorbell-run.sh
Type=Application
StartupWMClass=doorbell
X-Osso-Service=org.maemo.doorbell
X-Osso-Type=application/x-executable
StartupNotify=false