Package: liqbase-playground
Version: 0.3.7
Section: user/multimedia
Priority: extra
Architecture: armel
Depends: libliqbase1
Installed-Size: 6424
Maintainer: Gary <liquid@gmail.com>
Description: liqbase-playground test package
 usability and testing package release for liqbase-playground
