Source: liqpostcard
Section: user/multimedia
Priority: extra
Maintainer: Gary Birkett <liquid@gmail.com>
Build-Depends: debhelper (>= 5) , libliqbase-dev (>= 0.3.45)
Standards-Version: 3.7.2

Package: liqpostcard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends} , libliqbase1 (>= 0.3.62)
Description: send a postcard upto liqbase.net
 send a postcard upto liqbase.net, include a picture and a sketch